<% content_for :title do %>About<% end %>

<div class="clearfix"></div>
  <!-- header -->
  <!-- ============== inner showcase section ============== -->
  <div class="common_page_header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="heading">About firm</div>
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">About firm</li>
          </ol>
          <!-- /.breadcrumb -->
        </div>
        <!-- /.col-md-12 -->
      </div>
      <!-- /.row -->
    </div>
  </div>
  <!-- /.innershowcase-structure -->
  <!-- ============== Welcome section ============== -->
  <div class="welcome-section fixed-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 law-desk"> <img src="images/img66-large.jpg" alt="" class="img-responsive"> </div>
        <div class="col-lg-6 col-md-6 col-sm-6 law-desk">
          <h2 class="common">About firm<span><b>Lawyer</b> Desk</span></h2>
          <p><strong>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Claritas est etiam processus dynamicus, qui sequitur.</strong></p>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue.</p>
        </div>
        <!-- /.law-desk -->
        <!-- /.law-desk -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.welcom-section -->
  <!-- ============== Count section ============== -->
  <div class="count-section">
    <div class="container">
      <div class="row">
        <div class="counter col-lg-3 col-md-3 col-sm-6 col-xs-6 w100">
          <div class="img-box"> <img src="images/icons/c-man.png" class="pic" alt="years" /> </div>
          <!-- /.img-box -->
          <div class="adjust relative">
            <div class="timer count-title count-number" data-to="1500" data-speed="3000"></div>
            <span>+</span> </div>
          <!-- /.relative -->
          <p class="count-text ">Trusted Clients</p>
        </div>
        <div class="counter col-lg-3 col-md-3 col-sm-6 col-xs-6 w100">
          <div class="img-box"> <img src="images/icons/c-brief.png" class="pic" alt="members" /> </div>
          <!-- /.img-box -->
          <div class="adjust relative">
            <div class="timer count-title count-number" data-to="2000" data-speed="3000"></div>
            <span>+</span> </div>
          <!-- /.relative -->
          <p class="count-text ">Successfull Cases</p>
        </div>
        <div class="counter col-lg-3 col-md-3 col-sm-6 col-xs-6 w100">
          <div class="img-box"> <img src="images/icons/c-star.png" class="pic" alt="projects" /> </div>
          <!-- /.img-box -->
          <div class="adjust relative">
            <div class="timer count-title count-number" data-to="1200" data-speed="3000"></div>
            <span>+</span> </div>
          <!-- /.relative -->
          <p class="count-text ">Honor & Awards</p>
        </div>
        <div class="counter col-lg-3 col-md-3 col-sm-6 col-xs-6 w100">
          <div class="img-box"> <img src="images/icons/c-hand.png" class="pic" alt="certification" /> </div>
          <!-- /.img-box -->
          <div class="adjust relative">
            <div class="timer count-title count-number" data-to="1000" data-speed="3000"></div>
            <span>+</span> </div>
          <!-- /.relative -->
          <p class="count-text">Satisfied Clients</p>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.count-section -->
  <!-- ============== Team section ============== -->
  <div class="team-section fixed-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 team-arrange">
          <h2 class="common">Meet With Team<span><b>our</b> attorneys</span></h2>
          <p>Lawyer Desk is the best lawyer firm text of the printing and type setting industry. We will give best and proper solution for your problem. We are great in our profession.Lawyer Desk is the best lawyer firm.</p>
          <p>Lawyers of the printing and type setting industry. We will give best and proper solution for your problem.</p>
          <input type="button" value="meet all attorneys" />
        </div>
        <!-- /.team-arrange -->
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 team-arrange">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 w100 team-arrange"> <img src="images/team1.png" alt="team1" />
              <div class="text-box">
                <h3>Helen Ward<span>Business law</span></h3>
                <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a>
                <div class="border-f"></div>
                <!-- ./border-f -->
              </div>
              <!-- /.text-box -->
            </div>
            <!-- /.team-arrange -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 w100 team-arrange"> <img src="images/team2.png" alt="team1" />
              <div class="text-box">
                <h3>Catia Saraiva<span>Criminal law</span></h3>
                <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a>
                <div class="border-f"></div>
                <!-- ./border-f -->
              </div>
              <!-- /.text-box -->
            </div>
            <!-- /.team-arrange -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 w100 team-arrange"> <img src="images/team3.png" alt="team1" />
              <div class="text-box">
                <h3>Christiana Morris<span>finance law</span></h3>
                <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a>
                <div class="border-f"></div>
                <!-- ./border-f -->
              </div>
              <!-- /.text-box -->
            </div>
            <!-- /.team-arrange -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.team-arrange -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.team-section -->
  <!-- ============== Our Clients section ============== -->
  <div class="our-clients fixed-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <h2 class="common">Meet With Clients<span><b>our</b> Clients</span></h2>
          <p>Lawyer Desk is the best lawyer firm text of the printing and type setting industry. We will give best and proper solution for your problem. We are great in our profession.Lawyer Desk is the best lawyer firm.</p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 w100"> <a href="#"><img src="images/client1.png" alt="client" /></a> </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 w100"> <a href="#"><img src="images/client2.png" alt="client" /></a> </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 w100"> <a href="#"><img src="images/client3.png" alt="client" /></a> </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 w100"> <a href="#"><img src="images/client4.png" alt="client" /></a> </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 w100"> <a href="#"><img src="images/client1.png" alt="client" /></a> </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 w100"> <a href="#"><img src="images/client1.png" alt="client" /></a> </div>
            <!-- /.col-lg-4 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.col-lg-8 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.our-clients -->
  <!-- ============== Footer section ============== -->
