<div class="clearfix"></div>
  <!-- header -->
  <!-- ============== inner showcase section ============== -->
  <div class="common_page_header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="heading">Practice areas</div>
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Practice areas</li>
          </ol>
          <!-- /.breadcrumb -->
        </div>
        <!-- /.col-md-12 -->
      </div>
      <!-- /.row -->
    </div>
  </div>
  <!-- /.innershowcase-structure -->
  <!-- ============== Practice section ============== -->
  <div class="practice-section">
    <div class="space50"></div>
    <div class="container">
      <div class="row">
        <h2 class="common">Working Areas<span><b>Practice</b> areas</span></h2>
        <div class="space40"></div>
        <div class="col-sm-4">
          <div class="practice_boxed">
            <div class="iconBoxed"><i class="fa fa-money"></i></div>
            <h2>Financial Law</h2>
            <p>There are many variations of passages of Lorem Ipsum
              available, but the majority have suffered.</p>
            <a href="#">More</a> </div>
          <div class="space20"></div>
          <div class="practice_boxed">
            <div class="iconBoxed"><i class="fa fa-users"></i></div>
            <h2>Family Law</h2>
            <p>There are many variations of passages of Lorem Ipsum
              available, but the majority have suffered.</p>
            <a href="#">More</a> </div>
          <div class="space20"></div>
          <div class="practice_boxed">
            <div class="iconBoxed"><i class="fa fa-briefcase"></i></div>
            <h2>Business Law</h2>
            <p>There are many variations of passages of Lorem Ipsum
              available, but the majority have suffered.</p>
            <a href="#">More</a> </div>
          <div class="space20"></div>
        </div>
        <div class="col-sm-4 hidden-xs">
          <div class="practice_img">
            <%= image_tag "cueto-cutout.png" %>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="practice_boxed">
            <div class="iconBoxed"><i class="fa fa-fire"></i></div>
            <h2>Fire Law</h2>
            <p>There are many variations of passages of Lorem Ipsum
              available, but the majority have suffered.</p>
            <a href="#">More</a> </div>
          <div class="space20"></div>
          <div class="practice_boxed">
            <div class="iconBoxed"><i class="fa fa-home"></i></div>
            <h2>Home Law</h2>
            <p>There are many variations of passages of Lorem Ipsum
              available, but the majority have suffered.</p>
            <a href="#">More</a> </div>
          <div class="space20"></div>
          <div class="practice_boxed">
            <div class="iconBoxed"><i class="fa fa-stethoscope"></i></div>
            <h2>Medical Law</h2>
            <p>There are many variations of passages of Lorem Ipsum
              available, but the majority have suffered.</p>
            <a href="#">More</a> </div>
          <div class="space20"></div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!--/legal assistance start-->
    <div class="legal_assistance">
      <div class="container">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-7 col-sm-7">
                <h2>Get free legal assistance</h2>
              </div>
              <div class="col-md-5 col-sm-5"><a href="#" class="btn btn-default">Contact us today!</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
    <!-- /.practice-section -->
  </div>
  <div class="clearfix"></div>
  <!-- ==============our specialities section ============== -->
  <div class="our_specialities bg_none fixed-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div class="right-section">
            <h2 class="common">Practice and specialities<span><b>Our</b> specialities</span></h2>
            <div class="space30"></div>
            <div class="row">
              <div class="col-sm-4">
                <div><img src="images/speciality-img-1.jpg" alt=""></div>
                <div class="space10"></div>
                <h3 class="list_head"><i class="fa fa-check-square"></i> Litigation</h3>
                <div class="space20"></div>
                <ul>
                  <li><a href="#">- Auto & Car Accidents</a></li>
                  <li><a href="#">- Automotive / Tire Defects</a></li>
                  <li><a href="#">- Aviation Disasters</a></li>
                  <li><a href="#">- Bus Accidents</a></li>
                  <li><a href="#">- Charter Plane Crashes</a></li>
                  <li><a href="#">- Cruise Ship Accidents</a></li>
                  <li><a href="#">- Bicycle</a></li>
                </ul>
                <div class="space20"></div>
              </div>
              <div class="col-sm-4">
                <div><img src="images/speciality-img-2.jpg" alt=""></div>
                <div class="space10"></div>
                <h3 class="list_head"><i class="fa fa-check-square"></i> Dispute Resolution</h3>
                <div class="space20"></div>
                <ul>
                  <li><a href="#">- Auto & Car Accidents</a></li>
                  <li><a href="#">- Automotive / Tire Defects</a></li>
                  <li><a href="#">- Aviation Disasters</a></li>
                  <li><a href="#">- Bus Accidents</a></li>
                  <li><a href="#">- Charter Plane Crashes</a></li>
                  <li><a href="#">- Cruise Ship Accidents</a></li>
                  <li><a href="#">- Bicycle</a></li>
                </ul>
                <div class="space20"></div>
              </div>
              <div class="col-sm-4">
                <div><img src="images/speciality-img-3.jpg" alt=""></div>
                <div class="space10"></div>
                <h3 class="list_head"><i class="fa fa-check-square"></i> Personal Legal Services</h3>
                <div class="space20"></div>
                <ul>
                  <li><a href="#">- Auto & Car Accidents</a></li>
                  <li><a href="#">- Automotive / Tire Defects</a></li>
                  <li><a href="#">- Aviation Disasters</a></li>
                  <li><a href="#">- Bus Accidents</a></li>
                  <li><a href="#">- Charter Plane Crashes</a></li>
                  <li><a href="#">- Cruise Ship Accidents</a></li>
                  <li><a href="#">- Bicycle</a></li>
                </ul>
                <div class="space20"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="btn-pref btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button type="button" id="stars" class="btn btn-primary tabBtn" href="#tab1" data-toggle="tab">Our Statistics</button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" id="favorites" class="btn btn-primary tabBtnactive" href="#tab2" data-toggle="tab">Reviews</button>
            </div>
          </div>
          <div class="space30"></div>
          <h3 class="list_head">Last 4 Years Stastics</h3>
          <div class="space20"></div>
          <div class="progress_area">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"> <span class="pull-right percent">65% </span> </div>
              <span class="progress-type">2003</span> <span class="progress-completed"></span> </div>
            <div class="status"><span>Case won</span> 65% in 2003</div>
            <!-- progeress end-->
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"> <span class="pull-right percent">70% </span> </div>
              <span class="progress-type">2004</span> <span class="progress-completed"></span> </div>
            <div class="status"><span>Case won</span> 70% in 2004</div>
            <!-- progeress end-->
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"> <span class="pull-right percent">75% </span> </div>
              <span class="progress-type">2005</span> <span class="progress-completed"></span> </div>
            <div class="status"><span>Case won</span> 75% in 2005</div>
            <!-- progeress end-->
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"> <span class="pull-right percent">85% </span> </div>
              <span class="progress-type">2006</span> <span class="progress-completed"></span> </div>
            <div class="status"><span>Case won</span> 85% in 2005</div>
            <!-- progeress end-->
            <div class="space10"></div>
            <h3 class="list_head">Our Expert Says</h3>
            <div class="space10"></div>
            <p>There are many variations of passages of Lorem Ipsum
              available, but the majority have suffered Lorem Ipsum
              available, but the majority have suffered.</p>
            <div class="space20"></div>
            <div class="row expert_says">
              <div class="col-xs-3"><img src="images/icons/test2.png" alt="" class="img-responsive img-circle"></div>
              <div class="col-xs-9 ">
                <div class="expertname">Jimi Anderson</div>
                <div class="designation">Our expert Advisor</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ==============our specialities section end ============== -->
