<% content_for :title do %>Practice Areas<% end %>

<div class="clearfix"></div>
  <!-- header -->
  <!-- ============== inner showcase section ============== -->
  <div class="common_page_header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="heading">Practice areas</div>
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Practice areas</li>
          </ol>
          <!-- /.breadcrumb -->
        </div>
        <!-- /.col-md-12 -->
      </div>
      <!-- /.row -->
    </div>
  </div>
  <!-- /.innershowcase-structure -->
  <!-- ============== Practice section ============== -->
  <div class="practice-section">
    <div class="space50"></div>
    <div class="container">
      <div class="row">
        <h2 class="common">Working Areas<span><b>Practice</b> areas</span></h2>
        <div class="space40"></div>
        <div class="col-sm-4">
          <div class="practice_boxed">
            <div class="iconBoxed"><i class="fa fa-money"></i></div>
            <h2>Financial Law</h2>
            <p>There are many variations of passages of Lorem Ipsum
              available, but the majority have suffered.</p>
            <a href="#">More</a> </div>
          <div class="space20"></div>
          <div class="practice_boxed">
            <div class="iconBoxed"><i class="fa fa-users"></i></div>
            <h2>Family Law</h2>
            <p>There are many variations of passages of Lorem Ipsum
              available, but the majority have suffered.</p>
            <a href="#">More</a> </div>
          <div class="space20"></div>
          <div class="practice_boxed">
            <div class="iconBoxed"><i class="fa fa-briefcase"></i></div>
            <h2>Business Law</h2>
            <p>There are many variations of passages of Lorem Ipsum
              available, but the majority have suffered.</p>
            <a href="#">More</a> </div>
          <div class="space20"></div>
        </div>
        <div class="col-sm-4 hidden-xs">
          <div class="practice_img">
            <%= image_tag "cueto-cutout.png" %>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="practice_boxed">
            <div class="iconBoxed"><i class="fa fa-fire"></i></div>
            <h2>Fire Law</h2>
            <p>There are many variations of passages of Lorem Ipsum
              available, but the majority have suffered.</p>
            <a href="#">More</a> </div>
          <div class="space20"></div>
          <div class="practice_boxed">
            <div class="iconBoxed"><i class="fa fa-home"></i></div>
            <h2>Home Law</h2>
            <p>There are many variations of passages of Lorem Ipsum
              available, but the majority have suffered.</p>
            <a href="#">More</a> </div>
          <div class="space20"></div>
          <div class="practice_boxed">
            <div class="iconBoxed"><i class="fa fa-stethoscope"></i></div>
            <h2>Medical Law</h2>
            <p>There are many variations of passages of Lorem Ipsum
              available, but the majority have suffered.</p>
            <a href="#">More</a> </div>
          <div class="space20"></div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!--/legal assistance start-->
    <div class="legal_assistance">
      <div class="container">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-7 col-sm-7">
                <h2>I want to be your lawyer!</h2>
              </div>
              <div class="col-md-5 col-sm-5"><a href="mailto:jc@jcuetolaw.com" class="btn btn-default">Contact me today!</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
    <!-- /.practice-section -->
  </div>
  <div class="clearfix"></div>
