<!-- ============== Footer section ============== -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 syc w100">
        <h2>About Lawyer Desk</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and type of industry. Lorem Ipsum has been the industry
          standard dummy text ever since the when.</p>
        <h3>Follow Us </h3>
        <div class="social-media"> <a href="#" class="jerk"><i class="fa fa-facebook"></i></a> <a href="#" class="jerk"><i class="fa fa-twitter"></i></a> <a href="#" class="jerk"><i class="fa fa-google-plus"></i></a> <a href="#" class="jerk"><i class="fa fa-pinterest-p"></i></a> </div>
        <!-- /.social-media -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="custom-maid w100">
        <h2>Practise Area</h2>
        <ul>
          <li><a href="#">Car Accident & Crash</a></li>
          <li><a href="#">Administrative Law</a></li>
          <li><a href="#">Dispute Resolution</a></li>
          <li><a href="#">Antitrust</a></li>
          <li><a href="#">Appellate Litigation</a></li>
          <li><a href="#">Bankruptcy</a></li>
          <li><a href="#">Juvenile Justice</a></li>
          <li><a href="#">Words which don't look </a></li>
        </ul>
        <!-- /.ul -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="custom-maid w100">
        <h2>Recent Posts </h2>
        <ul>
          <li><a href="#">There are many variations</a></li>
          <li><a href="#">Scrambled it to make</a></li>
          <li><a href="#">Ssuffered alteration </a></li>
          <li><a href="#">Injected humour or randomised </a></li>
          <li><a href="#">Words which don't look </a></li>
          <li><a href="#">Slightly believable</a></li>
          <li><a href="#">Passage of Lorem Ipsum</a></li>
        </ul>
        <!-- /.ul -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="custom-maid w100">
        <h2>Office Address</h2>
        <ul>
          <li><span>New York, USA</span></li>
          <li>1335 Avenue of the Americas,</li>
          <li>New York, New York, 10019, USA</li>
        </ul>
        <!-- /.ul -->
        <div class="phone-skype">
          <ul>
            <li><a href="#"><i class="fa fa-phone"></i>+1 (800) 568 789</a></li>
            <li><a href="#"><i class="fa fa-skype"></i>Lawyerdesk_help</a></li>
            <li><a href="#"><i class="fa fa-envelope"></i>info@lawyerdesk.com</a></li>
          </ul>
        </div>
        <!-- /.phone-skype -->
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="bottom-strip">
    <p>Copyright 2016 All Right Revered, <span>Built with <i class="fa fa-heart"></i> by <a href="http://josh.miami">JE Projects.</a></span></p>
  </div>
  <!-- /.bottom-strip -->
</footer>
<!-- /.footer -->
