<!-- ============== Footer section ============== -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 syc w100">
        <h2>Jorge Cueto, Esq.</h2>
        <h4 style="margin-top:-10px;">Attorney at Law</h4><br>
        <p>Contact Jorge Cueto today for a free consultation.</p>
        <h3>Follow Us </h3>
        <div class="social-media"> <a href="https://www.linkedin.com/in/jorge-cueto-1b628b8b" class="jerk"><i class="fa fa-linkedin"></i></a> <a href="#" class="jerk"><i class="fa fa-facebook"></i></a> <a href="#" class="jerk"><i class="fa fa-twitter"></i></a> </div>
        <!-- /.social-media -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="custom-maid w100">
        <h2>Practice Area</h2>
        <ul>
          <li><a href="#">Car Accident & Crash</a></li>
          <li><a href="#">Administrative Law</a></li>
          <li><a href="#">Dispute Resolution</a></li>
          <li><a href="#">Antitrust</a></li>
          <li><a href="#">Appellate Litigation</a></li>
          <li><a href="#">Bankruptcy</a></li>
          <li><a href="#">Juvenile Justice</a></li>

        </ul>
        <!-- /.ul -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="custom-maid w100">
        <h2>Recent Posts </h2>
        <ul>
          <li><a href="#">There are many variations</a></li>
          <li><a href="#">Scrambled it to make</a></li>
          <li><a href="#">Suffered altercation </a></li>
          <li><a href="#">Injected humour or randomised </a></li>
          <li><a href="#">Words which don't look </a></li>

        </ul>
        <!-- /.ul -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="custom-maid w100">
        <h2>Office Address</h2>
        <ul>
          <li><span>Cueto Law Center</span></li>
          <li>1990 SW 27th Ave</li>
          <li>Miami, Florida, 33145, USA</li>
        </ul>
        <!-- /.ul -->
        <div class="phone-skype">
          <ul>
            <li><a href="tel:+13054431440"><i class="fa fa-phone"></i>(305) 443-1440</a></li>
            <li><a href="mailto:jc@jcuetolaw.com"><i class="fa fa-envelope"></i>jc@jcuetolaw.com</a></li>
          </ul>
        </div>
        <!-- /.phone-skype -->
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="bottom-strip">
    <p>&copy; <%= Time.now.year %> Jorge Cueto, Esq. <blue> || </blue><span>Built with <%= fa_icon "heart", style: "color:darkred;" %> by <a href="http://josh.miami">JE Projects.</a></span></p>
  </div>
  <!-- /.bottom-strip -->
</footer>
<!-- /.footer -->
